*{
    padding: 0;
    margin: 0;
}
html, body{
    width: 100%;
    height: 100%;
}


.header{
    width: 100%;
    height: 10%;
    background-color: yellow;
    display: flex;
}
.header .bentrai{
    width: 45%;
    height: 100%;
    display: flex;

}
.header .bentrai a{
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    margin: 20px;
    color:rgb(30, 30, 120);
}
.header .bentrai a:hover{
    color: black;
    cursor: pointer;
}
.header .ogiua{
    width: 40%;
    height: 100%;
    /* background-color: blue; */
    padding: 0 10%;
    
}
.header .ogiua input{
    width: 400px;
    padding: 16px 0;
    border-radius: 10px;
    margin-top: 24px;
    position: relative;
    margin-left: -80px;
}
.header .ogiua i{
    position: absolute;
    transform: translateX(296px) translateY(-24px);
}
.header .benphai{
    width: 30%;
    height: 100%;
}
.header .benphai i{
    font-size: 35px;
    padding: 20px 25px;
    color:rgb(30, 30, 120);
}
.header .benphai i:hover{
    cursor: pointer;
    color: black;
}
.select{
    width: 100%;
    height: 13%;
    background-color: #666161;
    display: flex;
}
.select a{
    font-size: 25px;
    padding: 25px 0px;
    text-align: center;
    color: white;
    text-decoration: none;
    margin-left: 75px;
    font-family: Arial, Helvetica, sans-serif;
}
.select a:hover{
    color: black;
    cursor: pointer;
}

.group-header-2 a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.header-1 .logo,
.men,
.women {
  margin-right: 2.2rem;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}

.header-1 .cart-icon,
.user-icon,
.search-icon,
.favourite-icon {
  margin: 0rem 1rem 0.2rem 0rem;
  width: 1.5rem;
  height: 1.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}

.search-box {
  width: 100%;
  height: 40px;
  background: #ffffff;
  border-radius: 5px;
  position: relative;
  left: 270px;
}

.row {
  display: flex;
  padding: 10px 15px;
  justify-content: space-between;
}

.row input,
.row img {
  border: none;
  outline: none;
  position: relative;
  bottom: 1px;
}

.row input {
  width: 100%;
}

.row img {
  position: relative;
  left: 20px;
}

.click-group {
  display: flex;
  margin-left: 740px;
}

.header-2 {
  background-color: #2f2e2e;
  color: #fff;
  height: 40px;
  display: flex;
  align-items: center;
}

.group-header-2 a {
  margin-left: 20px;
}

.column-1 p {
  margin-left: 55px;
}

.column-1 img {
  margin: 60px;
  height: 600px;
  border-radius: 7px;
}

.column-2 {
  position: relative;
  bottom: 100px;
}

.column-2 div {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 120px;
}

.title {
  font-size: 35px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.price {
  font-size: 30px;
  color: red;
}

.btn-buy {
  background-color: red;
  color: #fff;
  font-weight: bold;
  border: none;
  outline: none;
  padding: 10px;
  transition: 0.4s;
  margin-right: 10px;
}

.btn-buy:hover {
  background-color: rgb(160, 18, 18);
}

.btn-add-cart {
  background-color: rgb(2, 2, 2);
  color: #fff;
  font-weight: bold;
  border: none;
  outline: none;
  padding: 10px;
  transition: 0.4s;
  margin-right: 20px;
}

.btn-add-cart:hover {
  background-color: rgb(63, 62, 62);
}

.column-row2-2 .desc {
  font-size: 25px;
  font-weight: bold;
}

.column-row2-2 .detail {
  font-size: 20px;
}

.img-desc img {
  width: 300px;
}

/* ------------------------------------- */
/* Footer */
.duoi {
  width: 100%;
  height: 220px;
  background-color: yellow;
}
.duoi .adderss1 {
  width: 100%;
  height: 100%;
  display: flex;
}
.duoi .adderss1 .left p {
  font-size: 20px;
  padding: 8px 25px;
}
.duoi .adderss1 .left p:hover {
  color: blue;
  cursor: pointer;
}

.duoi .adderss1 .right p {
  font-size: 20px;
  padding: 8px 25px;
  text-align: center;
}
.duoi .adderss1 .right img {
  width: 10%;
}

.duoi .adderss2 {
  width: 100%;
  height: 20%;
  background-color: #666161;
}
.duoi .adderss2 p {
  text-align: center;
  color: white;
  font-weight: bold;
  transform: translateY(10px);
}